
.eachProfile{
    border-radius: 15px;
    width:250px;
    height:280px;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.eachProfile:hover .profileFront{
    transform: rotateY(-180deg);
}
.eachProfile:hover .profileBack{
    transform: rotateY(0deg);
}
.profileFront{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    padding: 10px;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: all 0.5s ease;
    border-radius: 15px;
}
.profileBack{
    background-color: #0D1317;
    color:white;
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    padding: 10px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.5s ease;
    border-radius: 15px;
    border: 1px solid black;
}
.profileAvatar{
    text-align: center;
}
.profileAvatar img{
    width:200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 20px 40px -15px rgba(0, 0, 0, 0.7);
}
.profileFrontName{
    flex:1;
    align-items: center;
    justify-content: center;
    display:flex;
    font-size: 20px;
    font-weight: bold;
}
.profileBack{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileBack .profileBackName{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}
.profileBack .profileInfo{
    text-align: center;
}
.profileRoles{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profileRoles > div{
    background-color: #EDF7B5;
    color:black;
    margin: 5px;
    padding: 2px;
    border-radius: 5px;
}