.mainTitle{
  font-size: 40px;
  font-weight: bold;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
.slides{
  padding: 10px 0;
  overflow:hidden
}

.slides>div{
  min-height: 400px;
  color:black;
  padding: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.slides>div:nth-child(2n+1){
  background-color:#011627;
  color:white;
}
