.proposalContent {
    display:flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
    .proposalContent {
        flex-direction: column;
    }
}
