.initialContent {
    display:flex;
    justify-content: center;
    align-items: center;
}

.initialImages {
    width:30%;
}

.initialImages img {
    width:90%;
    height:300px;
    object-fit: contain;
    margin: 0 auto;
}

.initialImages>div:nth-child(n){
    text-align: left;
}
.initialImages>div:nth-child(2n){
    text-align: right;
}

@media only screen and (max-width: 1500px) {
    .initialContent{
        flex-direction: column;
    }
    .initialImages{
        width:100%;
        display:flex;
        justify-content: center;
    }
    .initialImages img{
        width:100%;
        height:250px;
    }
    .initialImages>div{
        text-align: center;
        margin: 10px;
    }

    .initialImages{
        display:flex;
        width:100%;
        justify-content: center;
    }
}