.slidesInnerDiv{
    width:80%;
    margin:0 auto;
    font-size: 16px;
}

.slidesInnerDiv .title{
    font-size: 34px;
    margin: 10px 0;
    font-weight: bold;
    text-decoration: underline;
}

.regionImage img{
    width:100%;
    object-fit: contain;
    height:400px;
}

.regionText{
    margin-top:20px;
    display:flex;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .slidesInnerDiv{
        width:90%
    }
}
