.faqItem{
    margin: 35px 0;
}

.faqQuestion{
    text-decoration: underline;
    font-weight: bold;
    font-size: 28px;
    display:flex;
    align-items: center;
}
.faqQuestion img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

.faqAnswer{
    border-radius: 15px;
    box-shadow:
        0  5px 10px rgba(154,160,185,0.05),
        0 15px 40px rgba(166,173,201,0.2);
        
    padding: 20px;
    margin-top: 20px;
}