
.homeTableau{
    padding: 10px;
    box-sizing: border-box;
    resize: horizontal;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.homeTableau > div{
    width:80%;
    padding-bottom: 75%;
    position:relative;
    overflow: hidden;
}
.homeTableau iframe{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    overflow: hidden;
}
.tableauGraph{
    height: 1050px;
}