.semester{
    width: 80%;
    margin: 0 auto;
}
.semester .semesterName{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
    display:flex;
}
.timeline{
    top:0;
    left:20px;
    position: absolute;
    height:100%;
    width:20px;
    z-index: -1;
}
.timeline .arrowLine{
    width:5px;
    height:95%;
    margin: 0 auto;
    background-color:black;
}
.timeline .arrow{
    position:absolute;
    left: 0;
    top:95%;
    height:5%;
    width:100%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}
.profiles{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:relative;
}
.profileDiv{
    margin: 5px;
}

