.phaseCompareImageDiv{
    text-align: center;
}

.phaseContent{
    display:flex;
    justify-content: center;
    align-items: center;
}

.phaseImage{
    width:30%;
}

.phaseImage{
    margin-left: 20px;
}

.phaseImage img{
    width:90%;
    height:300px;
    object-fit: contain;
    margin: 0 auto;
}

@media only screen and (max-width: 1500px) {
    .phaseImage{
        display:flex;
        width:100%;
        justify-content: center;
    }

    .phaseContent{
        flex-direction: column-reverse;
    }
}