.homebody{
    overflow: hidden;
}
.displayFlex{
    display:flex;
}
.displayCenter{
    align-items: center;
    justify-content: center;
}
.displayWrap{
    flex-wrap: wrap;
}
.mainTitle{
    font-size: 36px;
    font-weight: bold;
}
.subTitle{
    font-size: 32px;
    font-weight: bold;
}
.homeTitles{
    margin: 30px 0;
}