.slidesInnerDiv{
    width:80%;
    margin:0 auto;
    font-size: 16px;
}

.slidesInnerDiv .title{
    font-size: 34px;
    margin: 10px 0;
    font-weight: bold;
    text-decoration: underline;
}

.workText{
    flex:1;
}

.workContent{
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}

.workImages{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.workImages img{
    object-fit: contain;
}
.workGithubImage{
    width:35%;
}

@media only screen and (max-width: 1200px) {
    .slidesInnerDiv{
        width:90%
    }

    .workImages img{
        width: 30%;
    }

    .workContent{
        flex-direction: column;
    }

    .workGithubImage{
        width:70%;
    }
}
