.arrowDown{
    border: solid white;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    height:20px;
    width: 20px;
    animation: arrowMove 0.5s ease-in-out infinite;
}
.schoolImage{
    height:100vh;
    position:relative;
}
.schoolImage img{
    height: 100%;
    object-fit: cover;
}
.schoolImage .content{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color:#0D1317;
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.schoolImage .scrollForMore{
    position:absolute;
    left:50%;
    bottom: 0;
    transform: translateX(-50%);
    color: white;
    font-size: 25px;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

@keyframes arrowMove {
    0%{
        transform: rotate(45deg) translate(10,10px);
    }
    50%{
        transform: rotate(45deg) translate(10px,10px);
    }
}